Arquivo dbf2dbc que foi adquirido no site do datasus (http://www2.datasus.gov.br/DATASUS/index.php?area=060805&item=3)

# Faz a importacao automatica

In [1]:
import glob
import os
from simpledbf import Dbf5
import urllib.request
import pandas as pd

In [ ]:
os.system('dbf2dbc ' + file + '.dbc')

In [ ]:
for file in files:
    os.system('dbf2dbc ' + file + '.dbc')
    #os.system('del /f ' + file + '.dbc')

In [8]:
dbf = Dbf5('BR_Localidades_2010_v1' + '.dbf', codec='latin-1')

In [9]:
dbf.to_csv('BR_Localidades_2010_v1' + '.csv')

In [11]:
df = pd.read_csv('BR_Localidades_2010_v1.csv', header = 0, low_memory=False, index_col=0, encoding='latin-1')

In [13]:
df.head()

,CD_GEOCODI,TIPO,CD_GEOCODB,NM_BAIRRO,CD_GEOCODS,NM_SUBDIST,CD_GEOCODD,NM_DISTRIT,CD_GEOCODM,NM_MUNICIP,...,NM_MESO,NM_UF,CD_NIVEL,CD_CATEGOR,NM_CATEGOR,NM_LOCALID,LONG,LAT,ALT,GMRotation
ID,,,,,,,,,,,,,,,,,,,,,
1,110001505000001,URBANO,1.100015e+11,Redondo,11000150500,NaN,110001505,ALTA FLORESTA D'OESTE,1100015,ALTA FLORESTA D'OESTE,...,LESTE RONDONIENSE,RONDÔNIA,1,5,CIDADE,ALTA FLORESTA D'OESTE,-61.999824,-11.935540,337.735719,0.0
2,110001515000001,URBANO,NaN,NaN,11000151500,NaN,110001515,FILADÉLFIA D'OESTE,1100015,ALTA FLORESTA D'OESTE,...,LESTE RONDONIENSE,RONDÔNIA,2,15,VILA,FILADÉLFIA D'OESTE,-62.043898,-12.437239,215.244429,0.0
3,110001520000001,URBANO,NaN,NaN,11000152000,NaN,110001520,IZIDOLÂNDIA,1100015,ALTA FLORESTA D'OESTE,...,LESTE RONDONIENSE,RONDÔNIA,2,20,VILA,IZIDOLÂNDIA,-62.175549,-12.601415,181.044807,0.0
4,110001525000001,URBANO,NaN,NaN,11000152500,NaN,110001525,NOVA GEASE D'OESTE,1100015,ALTA FLORESTA D'OESTE,...,LESTE RONDONIENSE,RONDÔNIA,2,25,VILA,NOVA GEASE D'OESTE,-62.318650,-11.919792,191.576571,0.0
5,110001530000001,URBANO,NaN,NaN,11000153000,NaN,110001530,ROLIM DE MOURA DO GUAPORÉ,1100015,ALTA FLORESTA D'OESTE,...,LESTE RONDONIENSE,RONDÔNIA,2,30,VILA,ROLIM DE MOURA DO GUAPORÉ,-62.276812,-13.079806,157.285277,0.0

In [16]:
dbf = Dbf5('tb_municip' + '.dbf', codec='latin-1')

In [17]:
dbf.to_csv('tb_municip' + '.csv')

In [19]:
df = pd.read_csv('tb_municip.csv', header = 0, low_memory=False, index_col=0, encoding='latin-1')

In [20]:
df.head()

,CO_MUNICDV,CO_STATUS,CO_TIPO,DS_NOME,DS_NOMEPAD,DS_OBSERV,CO_ALTER,CO_ALTERDV,CO_REGIAO,CO_UF,...,IN_POBREZA,DT_INSTAL,DT_EXTIN,CO_SUCESS,NU_ORDEM,NU_ORDMAP,NU_LATITUD,NU_LONGIT,NU_ALTITUD,NU_AREA
CO_MUNICIP,,,,,,,,,,,,,,,,,,,,,
0,0,IGNOR,IGNOR,Ignorado ou exterior,IGNORADO OU EXTERIOR,Ignorado,", ,000001-009999,999999",", ,0000001-0099999,9999999",0,0,...,NaN,NaN,NaN,NaN,8,NaN,0.00000,0.00000,0,0.000
110000,1100000,IGNOR,IGNOR,Município ignorado - RO,MUNICIPIO IGNORADO - RO,NaN,",119999",",1199999",1,11,...,NaN,NaN,NaN,NaN,8,NaN,0.00000,0.00000,0,0.000
110001,1100015,ATIVO,MUNIC,Alta Floresta D'Oeste,ALTA FLORESTA D'OESTE,NaN,NaN,NaN,1,11,...,N,1986.0,NaN,NaN,1,1.0,-11.93554,-61.99982,338,7067.025
110002,1100023,ATIVO,MUNIC,Ariquemes,ARIQUEMES,NaN,NaN,NaN,1,11,...,N,1977.0,NaN,NaN,1,1.0,-9.90846,-63.03327,139,4426.571
110003,1100031,ATIVO,MUNIC,Cabixi,CABIXI,NaN,NaN,NaN,1,11,...,N,1989.0,NaN,NaN,1,1.0,-13.49976,-60.54431,236,1314.352

In [23]:
df.iloc[0]

CO_MUNICDV                                   0
CO_STATUS                                IGNOR
CO_TIPO                                  IGNOR
DS_NOME                   Ignorado ou exterior
DS_NOMEPAD                IGNORADO OU EXTERIOR
DS_OBSERV                             Ignorado
CO_ALTER          ,      ,000001-009999,999999
CO_ALTERDV    ,       ,0000001-0099999,9999999
CO_REGIAO                                    0
CO_UF                                        0
IN_CAPITAL                                 NaN
IN_AMAZLEG                                   N
IN_SEMIAR                                    N
IN_FRONTZN                                   N
IN_FRONTFX                                   N
IN_POBREZA                                 NaN
DT_INSTAL                                  NaN
DT_EXTIN                                   NaN
CO_SUCESS                                  NaN
NU_ORDEM                                     8
NU_ORDMAP                                  NaN
NU_LATITUD                                   0
NU_LONGIT                                    0
NU_ALTITUD                                   0
NU_AREA                                      0
Name: 0, dtype: object

In [25]:
df.loc[355030]

CO_MUNICDV             3550308
CO_STATUS                ATIVO
CO_TIPO                  MUNIC
DS_NOME              São Paulo
DS_NOMEPAD           SAO PAULO
DS_OBSERV                  NaN
CO_ALTER        ,358001-358058
CO_ALTERDV    ,3580016-3580586
CO_REGIAO                    3
CO_UF                       35
IN_CAPITAL                   E
IN_AMAZLEG                   N
IN_SEMIAR                    N
IN_FRONTZN                   N
IN_FRONTFX                   N
IN_POBREZA                   N
DT_INSTAL                 1554
DT_EXTIN                   NaN
CO_SUCESS                  NaN
NU_ORDEM                     1
NU_ORDMAP                    1
NU_LATITUD            -23.5674
NU_LONGIT             -46.5704
NU_ALTITUD                 784
NU_AREA                1521.11
Name: 355030, dtype: object